<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Relay switcher</title>
	<style>
	input[type=submit] {
		font-size: 30px;
		padding: 1rem 2rem;
		border: none;
		border-radius: 5px;
		text-transform: capitalize;
	}
	
	.status_on input[type=submit] {
		background-color: lightgreen;
	}
	.status_misconfigured input[type=submit] {
		background-color: rgb(255, 150, 150);
	}
	</style>
</head>
<body>
	{% for switch in switches %}
	<form action='/toggle/' method='post' class="status_{{ switch.state }}">
		<input type="hidden" name="switch_id" value="{{ switch.id }}">
		<label>{{ switch.name }}: 
			<input 
				type="submit" 
				{% if switch.state not in ('on', 'off') %}disabled{% endif %} 
				value="{{ switch.state }}"
				>
		</label>
	</form>
	{% endfor %}
</body>
</html>
